{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
<div class="col-xs-12 col-sm-10 blog-content">
    <h2>Nuevo autor</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br/>
        <br/>
        <input type="submit" class="btn-primary"value="Guardar" />
    {{ form_end(form) }}

    <br/>
    <ul>
        <li>
            <a href="{{ path('autor_index') }}">Regresar a la lista</a>
        </li>
    </ul>
</div>
</div>
{% endblock %}
