{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
<div class="col-xs-12 col-sm-10 blog-content">
    <h2>Crear nuevo libro</h1>

    {{ form_start(form) }}
         {{ form_widget(form) }}
         <input type="submit" class="btn-primary" value="Guardar" />     
   {{ form_end(form) }}

    <div class="row col-xs-12 col-sm-10 ">
    <ul>
        <li>
            <a href="{{ path('autor_index') }}">Regresar a los autores</a>
        </li>
    </ul>
    </div>
</div>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
  $('#principal_bibliotecabundle_libro_autor').select2();
  $('#principal_bibliotecabundle_libro_categoriaLibros').select2();
</script>
{% endblock %}
