{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="Guardar" />
    </div>
{{ form_end(form) }}
{% endblock %}
