<div class="row">
    <div class="col-sm-6">
        <ul class="blog_category">
            {% for categorium in categoria %}
                <li><a href="{{ path('categoria_show', { 'id': categorium.id }) }}">{{ categorium.categoria }} <span class="badge">{{categorium.libros }}</span></a></li>
            {% endfor%}
        </ul>
    </div>
</div>
