{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categorium</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorium.id }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ categorium.Categoria }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categoria_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
